
{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="v1" %}
{% set bodyClasses = 'dps' %}

{% block beforeContent %}
  
<div class="govuk-width-container" id="before-content">
    


<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a href="mailto:external-movements-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/External%20Movements%20-%20Homepage.aspx">SharePoint</a>.
    </span>
  </p>
</div>
    
<div class="govuk-!-display-none-print">

  <a href="#" class="govuk-back-link" id="back-link">Back</a>

</div>
</div>

{% endblock %}

{% block content %}

<div class="mini-profile govuk-!-margin-top-7">
    
  <div class="mini-profile-inner">
    <div class="mini-profile-left">
      <img class="mini-profile-person-img" src="/public/images/prisoner-images/prisoner_5.jpg" alt="Image of Carroll, Jonathon">
    </div>
    <div class="mini-profile-right">
      <ul class="mini-profile-info">
        <li>
          <p class="govuk-heading-s govuk-!-margin-bottom-1">
            <a id="mini-profile-link" class="govuk-link govuk-link--no-visited-state" >{{ data['name'] or 'the person' }}</a>
          </p>
          <span class="govuk-body">A5046DZ</span>
        </li>
        <li>
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span>
          <span class="govuk-body">7 April 1993</span>
        </li>
        <li>
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Establishment</span>
          <span class="govuk-body">Moorland (HMP &amp; YOI)</span>
        </li>
        <li>
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Cell number</span>
          <span class="govuk-body">RECP</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6 ">
    <span class="govuk-caption-l">Manage scheduled transfer</span>
    Manage {{ data['name'] or 'the person' }}’s court appearance</h1>

<!-- <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
  Cancel this transfer
</button> -->

{% if data['status'] == 'Scheduled' %}
  <a href="still-need-transfer.html" class="govuk-button govuk-button--warning" data-module="govuk-button">
    Cancel this transfer
  </a>
{% endif %}


      <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#absence-plan">
        Manage transfer
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#absence-history">
        Transfer history
      </a>
    </li>
    <!-- <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Past month
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Past year
      </a>
    </li> -->
  </ul>
  <div class="govuk-tabs__panel" id="absence-plan">
    
  
    <div class="govuk-summary-card govuk-!-margin-bottom-2">
      <div class="govuk-summary-card__title-wrapper">
      
        <h2 class="govuk-summary-card__title">
          Transfer information
        </h2>
      
      </div>
    
      <div class="govuk-summary-card__content">

        <dl class="govuk-summary-list">
  <!-- Date and time -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date and time
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['date'] or data['time'] %}
        {{ data['date'] or 'Not provided' }} at {{ data['time'] or 'Not provided' }}
      {% else %}
        Not provided
      {% endif %}
    </dd>
    {% if data['status'] == 'Scheduled' or data['status'] == 'Expired' %}
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?date={{ data['date'] | urlencode }}&time={{ data['time'] | urlencode }}">
          Change<span class="govuk-visually-hidden"> date and time</span>
        </a>
      </dd>
    {% endif %}
  </div>
  
  <!-- Destination -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Destination
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['destination'] or 'Not provided' }}
    </dd>
    {% if data['status'] == 'Scheduled' or data['status'] == 'Expired' %}
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="what-court.html?destination={{ data['destination'] | urlencode }}">
          Change<span class="govuk-visually-hidden"> destination</span>
        </a>
      </dd>
    {% endif %}
  </div>

  <!-- Reason -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reason
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['reason'] or 'Medical' }}
    </dd>
    {% if data['status'] == 'Scheduled' or data['status'] == 'Expired' %}
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="what-court.html?reason={{ data['reason'] | urlencode }}">
          Change<span class="govuk-visually-hidden"> reason</span>
        </a>
      </dd>
    {% endif %}
  </div>

  <!-- Escort details -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Escort details
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['escort_details'] or 'Not provided' }}
    </dd>
    {% if data['status'] == 'Scheduled' or data['status'] == 'Expired' %}
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="comments.html?escort_details={{ data['escort_details'] | urlencode }}">
          Change<span class="govuk-visually-hidden"> escort details</span>
        </a>
      </dd>
    {% endif %}
  </div>

  <!-- Status -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['status'] == "Scheduled" %}
        <strong class="govuk-tag govuk-tag--teal">Scheduled</strong>
      {% elif data['status'] == "Cancelled" %}
        <strong class="govuk-tag govuk-tag--red">Cancelled</strong>
      {% elif data['status'] == "In transit" %}
        <strong class="govuk-tag govuk-tag--purple">In transit</strong>
      {% elif data['status'] == "Expired" %}
        <strong class="govuk-tag govuk-tag--grey">Expired</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--green">{{ data['status'] or 'Completed' }}</strong>
      {% endif %}
    </dd>
    {% if data['status'] == 'Scheduled' or data['status'] == 'Expired' %}
      <!-- Empty actions cell maintains layout alignment when change links are active -->
      <dd class="govuk-summary-list__actions"></dd>
    {% endif %}
  </div>
</dl>


      </div>
    </div>
  
  
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="absence-history">
    <div class="moj-timeline">
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Transfer cancelled</h2>
          
            <p class="moj-timeline__byline">by Jim Riaz (JIM_RIAZ_GEN)</p>
          
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2026-02-23T14:02:01.770408">23 February 2026 at 2:02pm</time>
        </p>
    
        <div class="moj-timeline__description"> 
          
            Transfers cancelled for {{ data['name'] or 'the person' }}
          
          
          
            <br><br>
            
              Reason: deleted
    
            
          
          
        </div>
    
      </div>
      
      <div class="moj-timeline__item">
    
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Transfer changed</h2>
          
        </div>
    
        <p class="moj-timeline__date">
          <time datetime="2026-01-30T14:33:33.900013">30 January 2026 at 2:33pm</time>
        </p>
    
        <div class="moj-timeline__description">
          
            Transfer changed for {{ data['name'] or 'the person' }}
          
          
          <br><br>
            
              Reason: Prison change
          
        </div>
    
      </div>
      </div>

</div>
  
</div>

</div>
<!-- <div class="govuk-grid-column-one-quarter align-right">
        <h2 class="govuk-heading-m">Related tasks</h2>
        
          <p><a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html">Create a new court appearance for {{ data['name'] or 'the person' }}</a></p>
        

        </div> -->
</div>

</div>
{% endblock %}

