{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="v1" %}
{% set bodyClasses = 'dps home' %}

{% block content %}

<div class="govuk-width-container" id="before-content">
    


<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a href="mailto:external-movements-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/External%20Movements%20-%20Homepage.aspx">SharePoint</a>.
    </span>
  </p>
</div>
    

</div>


<div class="govuk-width-container  govuk-!-margin-top-8">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           Transfer moved for {{ data['name'] or 'the person' }}
          </h1>
          <div class="govuk-panel__body">
            The transfer has been moved to planned transfers
          </div>
        </div>

        
        
       <br>
       <br>
        <h2 class="govuk-heading-m">What you can do next</h2>
        <p><a class="govuk-link govuk-link--no-visited-state" href="transfers-home">Back to Transfers homepage</a></p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="#">View planned transfers</a></p>

     
      </div>


        </div>
    </div>
  </main>
</div>




{% endblock %}
