{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="v1" %}
{% set bodyClasses = 'dps home' %}

{% block content %}






<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6 govuk-!-margin-top-8">
        <span class="govuk-caption-l">Prototypes versions</span>
        DPS services</h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a class="govuk-link govuk-link--no-visited-state" href="version-1-0/dps-home.html">Version 1.0 - prototype<span class="govuk-visually-hidden"> name</span></a>
              <br>
              09 April 2026
            </dt>
            
            <dd class="govuk-summary-list__value">
              <div class="govuk-!-font-weight-bold">What's in this version</div>
                Courts journey, add and mange appearances.
            </dd>
            <dd class="govuk-summary-list__actions">
              <span class="govuk-tag govuk-tag--grey govuk-!-font-weight-regular">Old version</span>
            </dd>
          </div>
          </dl>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a class="govuk-link govuk-link--no-visited-state" href="version-2-0/dps-home.html">Version 2.0 - prototype<span class="govuk-visually-hidden"> name</span></a>
              <br>
              15 April 2026
            </dt>
            
            <dd class="govuk-summary-list__value">
              <div class="govuk-!-font-weight-bold">What's in this version</div>
                Updates on the filters and the search page contents.
                <ul>
                  <li>Add journey <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">Ready for dev</span></li>
                  <li>Courts add journey <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">Ready for dev</span></li>
                  <li>Prisoner history <span class="govuk-tag govuk-tag--green govuk-!-font-weight-regular">Ready for dev</span></li>
                  <li>Improved filter options</li>
                  <li>Enhanced search functionality</li>
                  
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <span class="govuk-tag govuk-tag--orange govuk-!-font-weight-regular">In progress</span>
            </dd>
          </div>
          </dl>
        
    </div>
    </div>
</div>




{% endblock %}
