{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="v1" %}
{% set bodyClasses = 'dps home' %}

{% block content %}

<div class="govuk-width-container" id="before-content">
    


<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a href="mailto:external-movements-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/External%20Movements%20-%20Homepage.aspx">SharePoint</a>.
    </span>
  </p>
</div>
    
<div class="govuk-!-display-none-print">

 <a href="#" class="govuk-back-link" id="back-link">Back</a>
</div>
</div>


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-two-thirds-from-desktop  govuk-!-margin-top-8">
        <label class="govuk-label govuk-label--l" for="comments"><span class="govuk-caption-l">Schedule a transfer</span>
        <h1 class="govuk-heading-l">Check your answers</h1></label>


        <h2 class="govuk-heading-m">Prisoners in this bulk transfer</h2>
        
        <dl class="govuk-summary-list">
  {% for prisonerName in data['bulkSelectedNames'] %}
    {# The Prototype Kit automatically maps 'bulkSelectedNames[]' inputs to 'bulkSelectedNames' #}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
        {{ prisonerName }}
      </dt>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="bulk-selection.html">
          Change<span class="govuk-visually-hidden"> prisoner name</span>
        </a>
      </dd>
    </div>
  {% endfor %}
</dl>





        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date and time
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date'] or '10 September 2026' }} at {{ data['transfer-hour'] or '09' }}:{{ data['transfer-minute'] or '00' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time-transfers.html?date={{ data['date'] or '5 January 2026' }}&hour={{ data['hour'] or '09' }}&minute={{ data['minute'] or '00' }}">Change<span class="govuk-visually-hidden"> date and time</span></a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Destination</dt>
            <dd class="govuk-summary-list__value">
              {{ data['choose-prison'] or 'HMP Manchester' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="transfer-destination.html?choose-prison={{ data['choose-prison'] }}">
                Change<span class="govuk-visually-hidden"> prison location</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['transfer-reason'] or 'Medical' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="transfer-reason.html?transfer-reason={{ data['transfer-reason'] }}">Change<span class="govuk-visually-hidden">transfer reason</span></a>
            </dd>
          </div>
 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Escort details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['escort-type'] or 'Police escort' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="what-type-of-escorted-transfer.html?escort-type={{ data['escort-type'] }}">Change<span class="govuk-visually-hidden"> escort type</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Comments
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['comments'] or 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="comments-transfers.html?comments={{ data['transfer-comments'] }}">Change<span class="govuk-visually-hidden"> comments</span></a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag">
                Ready to schedule
              </strong>
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="comments-transfers.html?comments={{ data['transfer-comments'] }}">Change<span class="govuk-visually-hidden"> comments</span></a>
            </dd> -->
          </div>
        </dl>
         

        <div class="govuk-button-group">
          <form action="confirmation-bulk" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Schedule this transfer
          </button>
        </form>

        <!-- <a href="confirmation-plan-updated.html" class="govuk-button govuk-button--secondary">Save and update plan</a> -->
        </div>
        
      </div>
  
    
  </div>
</div>


<script>
const form = document.getElementById('bulkCheckAnswersForm');
if (form) {
  form.addEventListener('submit', () => {
    // 1. Remove any previously injected inputs to keep the form clean
    form.querySelectorAll('.js-injected-names').forEach(el => el.remove());

    const checkedBoxes = document.querySelectorAll('input[name="selected_prisoners"]:checked');
    const selectedNames = [];
    
    checkedBoxes.forEach((checkbox) => {
      const label = document.querySelector(`label[for="${checkbox.id}"]`);
      if (label) {
        const fullText = label.textContent.trim();
        const parts = fullText.split('-');
        const nameOnly = parts ? parts.trim() : '';
        
        if (nameOnly) {
          selectedNames.push(nameOnly);
        }
      }
    });

    // 2. Create ONE single input containing all the names as a JSON string
    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.className = 'js-injected-names';
    hiddenInput.name = 'bulkSelectedNames'; // Overwrites data['bulkSelectedNames'] directly
    hiddenInput.value = JSON.stringify(selectedNames);
    
    form.appendChild(hiddenInput);
  });
}


</script>




{% endblock %}
