{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="v1" %}
{% set bodyClasses = 'dps home' %}

{% block content %}

<div class="govuk-width-container" id="before-content">
    


<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a href="mailto:external-movements-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/External%20Movements%20-%20Homepage.aspx">SharePoint</a>.
    </span>
  </p>
</div>
    

</div>


<div class="govuk-width-container  govuk-!-margin-top-8">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           {{ data['name'] or 'the person' }}'s plan has been updated
          </h1>
          <!-- <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div> -->
        </div>

        
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date request received
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date'] or '5 January 2026' }} at {{ data['hour'] or '09' }}:{{ data['minute'] or '00' }}
            </dd>
            
          </div>
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['transfer-reason'] or 'Medical' }}
            </dd>
            
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Priority
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['comments'] or 'Medium' }}
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> comments</span></a>
            </dd> -->
          </div>

<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Destination</dt>
            <dd class="govuk-summary-list__value">
              {{ data['choose-prison'] or 'HMPPS Bristol' }}
            </dd>
           
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Escort details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['escort-type'] or 'Police escort' }}
            </dd>
            
          </div>

          


          
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Comments
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['comments'] or 'Not provided' }}
            </dd>
            
          </div> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              Ready to schedule
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="comments-transfers.html?comments={{ data['transfer-comments'] }}">Change<span class="govuk-visually-hidden"> comments</span></a>
            </dd> -->
          </div>
        </dl>
        <h2 class="govuk-heading-m">What you can do next</h2>
        <p><a class="govuk-link govuk-link--no-visited-state" href="#">View and manage transfers</a></p>
       <p><a class="govuk-link govuk-link--no-visited-state" href="search-for-prisoner-transfers.html">Transfer another prisoner</a></p>
        <!-- <p><a class="govuk-link govuk-link--no-visited-state" href="search-for-prisoner.html">Add another court appearance for a different prisoner</a></p> -->
        <p><a class="govuk-link govuk-link--no-visited-state" href="#">Manage planned transfers</a></p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="dps-home.html">Return to the DPS homepage</a></p>
     
      </div>


        </div>
    </div>
  </main>
</div>




{% endblock %}
