{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="v1" %}
{% set bodyClasses = 'dps home' %}

{% block content %}

<div class="govuk-width-container" id="before-content">
    


<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a href="mailto:external-movements-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/External%20Movements%20-%20Homepage.aspx">SharePoint</a>.
    </span>
  </p>
</div>
    
<div class="govuk-!-display-none-print">

  <a href="#" class="govuk-back-link" id="back-link">Back</a>
</div>
</div>


<div class="govuk-width-container">

  <div class="mini-profile-inner">
    <div class="mini-profile-left">
      <img class="mini-profile-person-img" src="/public/images/prisoner-images/prisoner_5.jpg" alt="Image of Carroll, Jonathon">
    </div>
    <div class="mini-profile-right">
      <ul class="mini-profile-info">
        <li>
          <p class="govuk-heading-s govuk-!-margin-bottom-1">
            <a id="mini-profile-link" class="govuk-link govuk-link--no-visited-state" >{{ data['name'] or 'the person' }}</a>
          </p>
          <span class="govuk-body">A5046DZ</span>
        </li>
        <li>
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span>
          <span class="govuk-body">7 April 1993</span>
        </li>
        <li>
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Establishment</span>
          <span class="govuk-body">Moorland (HMP &amp; YOI)</span>
        </li>
        <li>
          <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Cell number</span>
          <span class="govuk-body">RECP</span>
        </li>
      </ul>
    </div>
  </div>
<br>
  <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
<h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name"><span class="govuk-caption-l">Schedule a transfer</span>
      What type of escorted transfer is this?
    </label>
    <!-- <span class="govuk-caption-l">What is the name of the event?</span> -->
  </h1>

  <form action="comments-transfers" method="post">
 


<div class="govuk-form-group govuk-!-margin-top-8">
 
  
  <label class="govuk-label" for="escort-type">
    Start typing the escorted transfer type
  </label>

  <select class="govuk-select" name="escort-type" id="escort-type">
    <option value=""></option>

     {% set reasons = [
      "Accompanied",
      "Prison officer escort (Local)",
      "Prison officer escort (National)",
      "Police escort",
      "Unescorted",
      "Other (immigration etc.)",
      "GeoAmey",
      "Group 4 Securicor",
      "H.M.P Establishment",
      "Premier",
      "Prisoner Escort Contractors (Other)",
      "Reliance"
    ] %}
 
    {% for reason in reasons %}
      <option value="{{ reason }}" {% if data['appearance-reason'] == reason %}selected{% endif %}>{{ reason }}</option>
    {% endfor %}

  </select>
</div>
  
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
    </form>
    </div>
  </div>
</div>


<script>

  window.onload = function() {
    // 1. Get the value from the URL (e.g., ?choose-prison=HMP%20Leicester...)
    const urlParams = new URLSearchParams(window.location.search);
    const selectedEscort = urlParams.get('escort-type');

    // 2. If the parameter exists, find the select box and set its value
    if (selectedEscort) {
      const selectEl = document.getElementById('escort-type'); // Ensure your <select> has this ID
      if (selectEl) {
        selectEl.value = selectedEscort;
      }
    }
  };
</script>

{% endblock %}
